 <%
=begin%>
 <% debugger %>  
<%
=end%>

 <% if comment.name==nil %>
    <h3> ---- End of comments ---- </h3>
<% else %> 
    <h3>Name of the Reviewer : <%= comment.name %>
    <h3>Review : <%= comment.description %></h3></h3>
    <br><br>

 <% end %> 

